body{
    width: 80%;
    min-width: 1000px;
    margin: 0 auto;
    font-family: Tahoma;
}

a{
    color:black;
}
ul.event_list{
    list-style: none;
}

li.future_event{
    color: gray;
}
li.future_event .searches a{
    color: white;
}

.event_list span {
    display: inline-block;
}

.release_date {
    width: 10em;
    text-align: right;
}

.searches {
    margin-left: 0.5em;
    margin-right: 0.5em;
}