<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="title" content="Showtime!">
    <title>Showtime!</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css">
    <style type="text/css"></style><script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
</head>
<body>
    <ul class="event_list">
        {% for episode in episodes %}
            <li {% if episode.is_in_future()%}class="future_event"{%endif%}>
                <span class="release_date">{{episode.air_date}}</span>
                <span class="searches">
                    <a href="http://thepiratebay.cr/search/{{episode.search_string()}}/0/7/0">Arrr!</a>
                </span>
                <span class="event_title">{{episode.show.name}}</span>
                :
                <span class="episode_code">
                    {{episode.season}}x{{episode.episode}}
                </span>
                -
                <span class="episode_title">{{episode.name}}</span>
            </li>
        {%endfor%}
    </ul>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-12401035-2']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
        })();

    </script>
</body>
</html>